body {
    background-color: #090C10;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 100%;
    margin-bottom: 100px;

}


.nav-bar {
    background-color: #4f80ff;
    flex-wrap: wrap;
    padding: 10px;
    vertical-align: middle;
}

button {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin-bottom: 01px;
    background-color: #090C10;
    transition-duration: .3s;
    margin-left: 12px;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background: white;
    color: black;
    box-shadow: 0 5px #090C10;
    transform: translateY(3px);
}



footer {
    background-color: #4f80ff;
    vertical-align: middle;
    flex-wrap: wrap;
    height: 30px;
    padding: 10px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;
    position: fixed;
    bottom: 0;


}

.foot {
    margin-top: 5px;
    text-align: center;

}

.typog {
    padding-top: 40px;
    display: flex;
    max-width: 1475px;
    flex-wrap: wrap;
    margin: row;
    justify-content: space-evenly;
    margin: auto;
    grid-row: 4;
}


.typo1 {
    display: flex;
    flex-wrap: wrap;
    grid-row: 4;
    float: left;
    margin-bottom: 40px;
    align-items: stretch;
    flex-direction: column;

}

h1 {
    font-size: 150px;
    color: #4f80ff;
    text-align: center;

}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: larger;


}

.carptaskimg {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1700px;
    margin-bottom: 20px;
    padding-top: 45px;
}

.img {
    position: relative;
}

.img2 {
    position: relative;
}

.img3 {
    position: relative;
}

.img1 {
    display: block;
    width: 100%;
}

.img22 {
    display: block;
    width: 100%;
}

.img33 {
    display: block;
    width: 100%;
}

.imgoverlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    backdrop-filter: blur (15px);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;


}

.imgoverlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    backdrop-filter: blur (15px);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

}

.imgoverlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    backdrop-filter: blur (15px);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

}

.imgoverlay1:hover {
    opacity: 1;


}

.imgoverlay2:hover {
    opacity: 1;

}

.imgoverlay3:hover {
    opacity: 1;

}

.ZXC {
    font-size: xx-large;
    padding-top: 35px;
}

.cntr1 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 300px;
    
}

.cntr2 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 300px;
    
}

.cntr3 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 300px;
    
}

.t11 {
    color: white;
    cursor: help;

}

.t12 {
    color: white;
    cursor: help;
}

.t13 {
    color: white;
    cursor: help;
}

.z11 {
    color: white;
    

}

.ref {
    color: #4f80ff;
    cursor: pointer;
}